<nav class="navbar navbar-expand-sm bg-dark navbar-dark fixed-bottom ">
	<ul class="navbar-nav ml-auto">
    <li class="nav-item active">
      <%= link_to "About", static_pages_about_path, :class => "nav-link" %>
    </li>
    <li class="nav-item active">
      <%= link_to "Help", static_pages_help_path, :class => "nav-link" %>
    </li>
  </ul>
</nav>